<% include partials/_header %>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="card">
                <div class="card-body">
                    <form action="/editar/<%= usuario.id %>" method="post">
                        <div class="form-group">
                            <input type="text" name="nombre" id="nombre" placeholder="Ingrese un Nombre" class="form-control">
                        </div>
                        <div class="form-group">
                                <input type="text" name="apellido" id="apellido" placeholder="Ingrese un Apellido" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">
                            Editar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/_footer %>

<script>
    var usuario = <%- JSON.stringify(usuario) %>;

    function dibujarDatosUsuario(){
        $('#nombre').val(usuario.nombre);
        $('#apellido').val(usuario.apellido);
    }

    $( document ).ready(function() {
        dibujarDatosUsuario();
    });
</script>