<% include partials/_header %>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="card">
                <div class="card-body">
                    <form action="/perfiles/editar/<%= perfil.id %>" method="post">
                        <div class="form-group">
                            <input type="text" name="descripcion" id="descripcion" placeholder="Ingrese un Perfil" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">
                            Editar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/_footer %>

<script>
    var perfil = <%- JSON.stringify(perfil) %>;

    function dibujarDatosPerfil(){
        $('#descripcion').val(perfil.descripcion);
    }

    $( document ).ready(function() {
        dibujarDatosPerfil();
    });
</script>