<% include partials/_header %>

<div class="container">
    <div class="row">
        <!-- FORM -->
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/agregar" method="post">
                        <div class="form-group">
                            <input type="text" name="nombre" placeholder="Ingrese un Nombre" class="form-control">
                        </div>
                        <div class="form-group">
                                <input type="text" name="apellido" placeholder="Ingrese un Apellido" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">
                            Agregar
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <!-- TABLA -->
        <div class="col-md-7">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Nº</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="bodyTablaUsuarios">
                    
                </tbody>
            </table>
        </div>
    </div>

</div>

<% include partials/_footer %>


<script>
    var arrUsuarios = <%- JSON.stringify(usuarios) %>;

    function dibujarTablaUsuarios(){
        $('#bodyTablaUsuarios').find('tr').remove();
    
        for (var i = 0; i < arrUsuarios.length; i++)
        {
            var usuario = arrUsuarios[i];

            var body = document.getElementById("bodyTablaUsuarios");
            var row = body.insertRow();

            row.id = i;
            
            var num = row.insertCell(0);
            var nombre = row.insertCell(1);
            var apellido = row.insertCell(2);
            var acciones = row.insertCell(3);

            num.innerHTML = i + 1;
            nombre.innerHTML = usuario.nombre;
            apellido.innerHTML = usuario.apellido;
            
            dibujarAccionesDeUsuario(acciones, usuario);
        }
    }

    function dibujarAccionesDeUsuario(contenedor, usuario){
        //Agrega boton activar
        var aActivar = document.createElement('a');
        aActivar.setAttribute('href','/activar/' + usuario._id);

        if (usuario.activo){
            aActivar.setAttribute('class','btn btn-success');
            aActivar.text = 'Desactivar';
        }else{
            aActivar.setAttribute('class','btn btn-dark');
            aActivar.text = 'Activar';
        }

        contenedor.appendChild(aActivar);

        //Agrega boton Borrar
        var aBorrar = document.createElement('a');
        aBorrar.setAttribute('href','/borrar/' + usuario._id);
        aBorrar.setAttribute('class','btn btn-danger');
        aBorrar.text = 'Borrar';
        contenedor.appendChild(aBorrar);

        //Agrega boton Editar
        var aEditar = document.createElement('a');
        aEditar.setAttribute('href','/editar/' + usuario._id);
        aEditar.setAttribute('class','btn btn-info');
        aEditar.text = 'Editar';
        contenedor.appendChild(aEditar);
    }

    $( document ).ready(function() {
        dibujarTablaUsuarios();
    });
</script>